---
layout: slide
---
<section data-background="black">
{{{ slide.content }}}
<div class='titleslide' style='float:right;width:100%;'>
  <hgroup class="auto-fadein" style='text-align:left;position:relative;top:40%;left:10%;width:80%'>
    <h2><span style='color:#e8e8e8'>{{ page.title }}</span></h2>
  </hgroup>
  <hgroup class="auto-fadein" style='text-align:left;position:relative;top:40%;left:15%;width:70%'>
    <h3><span style='color:white'>{{ page.subtitle }}</span></h3>
    <p><span style='color:white'>{{ page.author }}<br/>{{ page.job }}</p>
  </hgroup>
  {{# page.logo }}
  <aside class="gdbar">
    <img src="{{page.url.assets}}/img/{{{ page.logo }}}" style='width: 400px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);'>
  </aside>
  {{/ page.logo }}
  <br><span style='color:white;font-size:20px;'>Slides available @ <a href="{{ page.adress }}" style="color:white">{{ page.adress }}</a></span>>
</div>
</section>
